body {
  color: #999;
  overflow: hidden;
  /* cursor: none; */
  /* cursor: url('../img/cursor.png'); */
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 720px;
  margin: 50px auto;
 
}
.hole {
  width: 150px;
  height: 150px;
  margin: 0 15px 30px;
  background: rgb(61, 61, 61);
  border-radius: 50%;
  
}

.hole:hover {
  cursor: url(../img/cursor3.png) 1 1, auto;
}

.hole_has-goblin {
  background-image: url(../img/goblin.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}
