.count-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #000;
}
.kill-counter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: #000;
}
.miss-counter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: #000;
}